[MASTER]
disable=
    E0401, # Error on imports
    E1101, # Methos not knowed
    C0103, # snake case naming
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W0105, # more than one multi line comment
    W0702, # Define the type of the exeption
